<!DOCTYPE html>
<html>
  <head>
    <title>Eventfuls</title>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_MAP_KEY'] }"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV['CLOUD_NAME'] %>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127492816-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127492816-1');
    </script>
  </body>
</html>
