<!DOCTYPE html>
<html>
  <head>
    <title>Eventfuls</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key={AIzaSyAUCabB6Ucf_5ukr1RDvtx6ANzOLsIRRjY}" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
